<!-- Контент -->

<section class="form_wrapper">
    <div class="container">
        <app-header></app-header>
        <div *ngIf="qr" class="row">
            <div class="col-sm-12 col-md-12">
                <form action="">
                    <input type="text" #shortUrl required title="" pattern="^[a-zA-Z\s]+$" [(ngModel)]="qr.shortUrl"
                        name="shortUrl">
                    <input type="button" class="button copy" ngxClipboard [cbContent]="qr.shortUrl" value="Скопировать">
                    <input type="button" class="button more" value="Еще" routerLink="/main">
                </form>
            </div>
        </div>
        <div *ngIf="qr" class="row">
            <div class="col-sm-12 col-md-12">
                <div class="qr-title">QR-код для этой ссылки</div>
                <img src="https://okqr.ru{{ qr.img_svg }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="success-title">Ваша ссылка готова!</div>
            </div>
        </div>
    </div>
</section>